# Flask and Flask Extensions
Flask==2.3.3
Flask-SocketIO==5.3.5
Flask-Cors==4.0.0

# Computer Vision and Machine Learning
opencv-python-headless
opencv-python
cvzone==1.5.6
numpy==1.24.3
imutils==0.5.4
ultralytics
torch
torchvision
torchaudio
libgl1

# Base64 Encoding/Decoding (Python Standard Library, for reference)

# Logging (Python Standard Library, for reference)

# Asynchronous Support
eventlet==0.33.3 

