<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div style="display: none;">
        <canvas id="canvasOutput"></canvas>
        <video autoplay="true" id="videoElement"></video>
    </div>
    <div id="status"></div>
    
    <div class='video'>
        <img id="image">
    </div>
    <script async src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script async src="https://docs.opencv.org/4.x/opencv.js" onload="onOpenCvReady()"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html> 